@charset "UTF-8";

body{
            background-color: rgb(197, 164, 229);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1{
            color:white;
            background-color: rgb(150, 32, 163);
        }
        h2{
            color: rgb(96, 43, 43);
        }
        p{
            text-align: justify;
        }