@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
html, body {
    min-height: 100vh;
    background-color: lightgray;
    font-family: var(--fonte1);

}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;/*letas maiusculos no começo da palavra*/
    font-family: var(--fonte2);
    font-size: 10vw;/*10% da largura da tela a letra vai ficar*/
}
header > p {
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;/*espaçamento entre linhas*/
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}
section > p {
    padding-bottom: 2em;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color:rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.473);/* o insert deixa a sombra pra dentro*/
    background-size: cover;/*consegue ver a imagem mesmo que pequena*/
    background-attachment: fixed;/*imagem fixa ao rolar a pagina*/
}
section.imagem > p {
    display:inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);7
    text-shadow: 1px 1px 0 black;
    
}
section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}
section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}