@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
p{
    text-align: justify;
}
body{
    background-image: linear-gradient(to right,#9FC131, #DBF227, #D6D58E);
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #45541487;
    width: 600px; /*largura*/
    padding: 10px;
    margin: auto; /*centralizar*/
}
h1{
    color:#005C53;
    text-align: center;
    text-shadow: 1px 1px 2px #012e29;
}
h2{
    color:#042940;
}